<div class="container">
    <form [formGroup]="RegistrationForm">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card shadow">
                <div class="row">
                    <div class="col-6">
                        <div class="card-body ms-5">
                            <div class="container">
                                <h6 class="mt-5">START FOR FREE</h6>
                                <h2 class="">
                                    Create new account <span class="dot text-primary">.</span>
                                </h2>
                                <p class="accc mt-4">
                                    Already A Member?
                                    <a class="reg text-primary" routerLink="">Log In</a>
                                </p>

                                <input formControlName="user"  class="input mt-5" type="text" placeholder="Username" id="user" />
                                <div *ngIf="this.RegistrationForm.get('user')?.errors&&this.RegistrationForm.get('user')?.touched" style="color: red;">Invalid Username</div>
                                <input formControlName="acc" class="input mt-2" type="text" placeholder="Account Number" id="acc" />
                                <br />
                                <div *ngIf="this.RegistrationForm.get('acc')?.errors&&this.RegistrationForm.get('acc')?.touched" style="color: red;">Invalid Account Number</div>
                                <input formControlName="pass" class="input mt-2" type="password" placeholder="Password" id="pass" />
                                <div *ngIf="this.RegistrationForm.get('pass')?.errors&&this.RegistrationForm.get('pass')?.touched" style="color: red;">Invalid Password</div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" onclick="myFunction()"
                                        id="exampleCheck1" />
                                    <label class="form-check-label" for="exampleCheck1">Show Password</label>
                                </div>
                                <!-- <div class="d-flex justify-content-center align-items-center"> -->
                                <!-- </div> -->

                                <div class="d-flex justify-content-center align-items-center">
                                    <button class="btn btn-primary mt-5 mb-5 shadow" (click)="signUp()"
                                        type="button">
                                        Create account
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</form>
</div>